{
	"map": "path/to/map.jpg",
	"map_walls": "path/to/map_walls.png",
	"background_color": "#000000ff",
	"obfuscate_on_movement": true,
	"grid": {
		"x": 30,
		"y": 30,
		"width": 1350,
		"height": 1350,
		"square_size": 30,
		"snap_to_grid": false,
		"color": "#badf000d"
	},
	"tokens": [
		{ "color": "#badf000d" },
		{
			"x": 0,
			"y": 0,
			"size": "medium",
			"color": "#ab572d",
			"borderColor": "#000000",
			"image": "path/to/monster.png",
			"light": [60, 0],
			"darkVision": false,
			"trueSight": true
		},
		{
			"x": 20,
			"y": 8,
			"color": "#ab57fd",
			"light": [0, 30]
		}
	],
	"obstacles": [
		{
			"x": 305,
			"y": 725,
			"w": 42,
			"h": 42
		}
	]
}