{
	"map": "./map.jpg",
	"map_walls": "./map_walls.png",
	"background_color": "#000000ff",
	"grid": {
		"x": 30,
		"y": 30,
		"width": 1350,
		"height": 1350,
		"square_size": 30,
		"snap_to_grid": false,
		"color": "#badf000d"
	}
}